<div class="row addnew">
  <div class="col-md-11">
    <h3>New Contact</h3><br>
    <form id="addNewContact" class="form-inline" role="form">
   
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input class="form-control" id="name" name="name" placeholder="John Doe">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Phone</div>
          <input class="form-control" id="cellphone" name="cellphone" placeholder="123-456-7890">
        </div>
      </div>
      
      <button type="submit" class="btn btn-success">Add New Contact</button>
    </form>
    <hr>
  </div>
</div>
