<script id="new-contact-template" type="text/x-handlebars-template">
  <div class="contact{{contactId}}">
    <span class="name{{contactId}}">Name: {{contactName}}</span> <br>
    <span class="phone{{contactId}}">Phone: {{contactPhone}}
      <hr>
    </span>
  </div>
</script>
