<div class="row text-form">
  <div class="col-md-10">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Text your contact</h3>
      </div>
      <div class="panel-body">
        <!--form-->
        <form class="form-horizontal">
          <fieldset>
            <p>Please select the contact from the contact list!</p>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Cellphone: </label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPhone" placeholder="123-456-7890">
              </div>
            </div>

            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Message: </label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="inputMessage" placeholder="Write your message here..."></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button id="clearButton" class="btn btn-danger">Clear</button>
                <button type="submit" class="btn btn-success">Send</button>
              </div>
            </div>

          </fieldset>
        </form>
        <!--/form-->
      </div>
    </div>
  </div>
</div>